* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */

header {
    background-color: #000;
    border: 1px solid #000
}

.navbar {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.logo {
    color: white;
    text-decoration: none;
    line-height: 1;
    display: flex;
    flex-direction: column;
}

#lumina {
    font-size: 30px;
    font-weight: semi-bold;
    font-family: Arial, Helvetica, sans-serif;
}

#audio {
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    margin-left: 32px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 128px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 24px;
}

.nav-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* HERO SECTION */

.hero {
    display: flex;
    min-height: 100vh;
    background-color: #000;
    color: white;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: right;
}

.hero-content {
    width: 50%;
    padding: 120px 60px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero h1 span{
    color: #D4AF37;
}

.hero-description {
    font-size: 18px;
    margin-bottom: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-buy{
    background-color: #D4AF37;
    color: black;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: semi-bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.hero-read{
    background-color: black;
    color: white;
    border: 2px solid #D4AF37;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: semi-bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* CTA SECTION */

/* VENSTRE SIDE */
.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.cta-img {
  display: flex;
  flex-direction: column;
  width: 50%;
  object-fit: cover;
}

.small-imgs{
    display: flex;
    gap: 20px;
    margin-top:30px;
    width:240px;
    flex-direction: row;
    margin-left: 76px;
}

.main-img {
  width: 600px;
}

.small-imgs img {
  width: 130px;
}

/* HØJRE SIDE */

.cta {
    width: 35%;
}

.cta h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.cta p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.cta h2 {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 30px;
}

.cta button {
    width: 350px;
    padding: 12px;
    border-radius: 30px;
    border: 2px solid #000;
    background-color: #D4AF37;
    font-size: 22px;
    cursor: pointer;
}

/* INFO SECTION 1 */

.info-section1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.text-section1 {
    width: 45%;
    padding: 60px;
}

.text-section1 h1 {
    font-size: 38px;
    font-weight: semi-bold;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-section1 p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 500px;
}

.info-section1 img {
    width: 55%;
    height: 500px;
    object-fit: cover;
}

/* INFO SECTION 2 */

.info-section2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.text-section2 {
    width: 45%;
    padding: 60px;
}

.text-section2 h1 {
    font-size: 38px;
    font-weight: semi-bold;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-section2 p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 500px;
}

.info-section2 img {
    width: 55%;
    height: 500px;
    object-fit: cover;
}

/* INFO SECTION 3 */

.info-section3 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.text-section3 {
    width: 45%;
    padding: 60px;
}

.text-section3 h1 {
    font-size: 38px;
    font-weight: semi-bold;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-section3 p {
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 500px;
}

.info-section3 img {
    width: 55%;
    height: 600px;
    object-fit: cover;
}

/* TRUSTPILOT ANMELDELSER */

.reviews {
  background-color: #ffffff;
  padding: 25px 8%;
  text-align: center;
  border-bottom: 3px solid #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.stars {
    color:#D4AF37;
    font-size: 28px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.card-stars {
    color: #D4AF37;
    font-size: 20px;
    margin-bottom: 10px;
}

.card1 {
    background-color: #000;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 20px;
    width: 35%;
}

.card2 {
    background-color: #000;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 20px;
    width: 35%;
    justify-content: center;
}
